
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h1 {
    font-size: 3.5em;
    font-weight: 700;
    color:#085463;
   text-align: center;
   padding:1.3rem;
}


#books-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
  background-color: #f8f9fa;
}

.book-card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 15px;
  text-align: center;
  transition: transform 0.2s ease;
}

.book-card:hover {
  transform: translateY(-5px);
}

.book-card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 6px;
  margin-bottom: 15px;
}

.book-card h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}
